$bshadow: 2px 2px 5px #00000046;

* {
    box-sizing: border-box;
}

body {
    background: rgb(187,211,247);
    font-family: 'Montserrat', sans-serif;
}

.page-container {
    position: relative;
    min-height: 100vh;

    .content-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-bottom: 5.5rem;
        overflow: auto;

        .container {
            margin-bottom: 30px;
            margin-top: 200px;
            .main {
                width: 100%;
                background-color: #134d9d;
                border-radius: 5px;
                padding: 15px;
                box-shadow: $bshadow;

                &::after {
                    content: "";
                    background: url('https://images.unsplash.com/photo-1605106702734-205df224ecce?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80');
                
                    
                }

                .logo {
                    color: #fff;
                    font-weight: bold;
                }
               .main-body {
                   margin: 60px 0;
                    h3 {
                        color: #3981ec;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 0px;
                    }
                    h1 {
                        color: #fff;
                        font-size: 4em;
                        text-shadow: 2px 2px 20px #00000046;
                        font-weight: 600;;
                    }
                    h4 {
                        color: #fff;
                        text-transform: capitalize;
                        font-size: .8em;
                        margin-bottom: 20px;
                    }
               }

               .social {
                   color: #fff;
                   i {
                       margin-right: 20px;
                   }
               }

            }

            .card-wrap {
                border-radius: 5px;
                margin-top: 20px;
                overflow: hidden;
                box-shadow: $bshadow;
                .portrait {
                    background: url('https://images.unsplash.com/photo-1463453091185-61582044d556?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') no-repeat;
                    background-size: cover;
                    width: 100%;
                    height: 200px;
                }

                .about {
                    background: #fff;
                    padding: 20px;
                    font-size: .8em;
                }
            }
        }
    }

    #footer {
        position: fixed;
        bottom: 0;
        height: 5.5rem;
        width: 100%;
        background: #2a3344;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}